<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <div class="logo-title">
      <img src="../../../assets/img/logo.svg" alt="logo">
      <h1>Self Education</h1>
    </div>

    <div class="login-registration">
      <span [routerLink]="['registration']">Sign Up</span>
      <span [routerLink]="['login']">Log In</span>
    </div>
  </div>

  <div class="dashboard-body">
    <div class="info">
      <span class="title">Self Education</span>
      <span class="quote">This is ideal platform for those who seek for qualified education with easy and helpful
        programmes which are get created individually for you and your abilities and knowledge by analysing your steps.
      </span>
    </div>
    <img
      class="online-learning-image"
      src="../../../assets/img/landing-page.png"
      alt="landing-page-image"
    >
  </div>
</div>
