$orange: #FE814A;
$orange-dark: #e3743f;
$orange-light: #ffefe8;

$grey: #CACACA;
$grey2: #f0f0f0;
$grey3: #747474;
$grey4: #bdc3c7;
$grey5: #ecf0f1;
$grey6: #f0f0f0;

$blue: #4ec2ff;
$blue-dark: #2eaae8;
$black-blue: #2d3e4f;

$red: #d64e4e;
$red-dark: #bd4545;

$purple: #7a5ab4;
$purple2: #640e94;

$green: #58b642;
$green2: #77ca3a;
