@import 'variables';
@import 'reset';
@import 'mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  outline: none;
}

input, select {
  -webkit-appearance: none;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  @include full-page();
  font-family: Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;

  &.custom-scroll-bar {
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.2);
    }
    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.6);
    }
  }
}

body.modal-open{
  overflow: hidden;
}

input[readonly] {
  background-color: #ebebe4;
  cursor: default;
}

.mat-dialog-container {
  overflow: initial !important;
  padding: 0 !important;
  max-width: initial !important;
}

.mat-option {
  height: 30px !important;
  line-height: 30px !important;
  font-size: 14px !important;
}

input {
  &::-ms-clear {
    display: none;
  }
}

@keyframes slideLeft {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.dialog-background-layer {
  background: rgba(0,0,0,.32);
}
