<div class="login-wrapper">

  <div class="bg-box">
    <img src="../../assets/img/logo.svg" alt="logo">
    <h3>Free and Easy education </h3>
  </div>

  <div class="login-form">
    <h2>Register As</h2>

    <div class="user-type-wrapper" *ngIf="!confirmPasswordModeOpen">
      <span
        [class.selected]="selectedRole === 'teacher'"
        (click)="selectRole('teacher')"
      >Teacher</span>
      <span
        [class.selected]="selectedRole === 'student'"
        (click)="selectRole('student')"
      >Student</span>
    </div>

    <div class="invalid-error">
      <span *ngIf="errorMessage"> {{ errorMessage }} </span>
    </div>

    <form
      *ngIf="!confirmPasswordModeOpen"
      [formGroup]="loginForm"
      (ngSubmit)="register(loginForm)"
      novalidate
    >
      <div class="field-wrapper">
        <input
          type="text"
          class="firstName"
          name="firstName"
          formControlName="firstName"
          placeholder="FirstName"
          autocomplete="off"
          [class.empty]="loginControl('firstName').hasError('required')"
          [class.error]="loginControl('firstName').touched && loginControl('firstName').invalid"
        />
      </div>

      <div class="field-wrapper">
        <input
          type="text"
          class="lastName"
          name="lastName"
          formControlName="lastName"
          placeholder="LastName"
          autocomplete="off"
          [class.empty]="loginControl('lastName').hasError('required')"
          [class.error]="loginControl('lastName').touched && loginControl('lastName').invalid"
        />
      </div>

      <div class="field-wrapper">
        <input
          type="text"
          class="email"
          name="email"
          formControlName="email"
          placeholder="Email"
          autocomplete="off"
          [class.empty]="loginControl('email').hasError('required')"
          [class.error]="loginControl('email').touched && loginControl('email').invalid"
        />
      </div>

      <div class="field-wrapper">
        <button *ngIf="!loading" [disabled]="loading" class="btn">REGISTER</button>
        <img class="loading" *ngIf="loading" src="../../assets/img/loader.svg" alt="loading">
      </div>
    </form>

    <form
      *ngIf="confirmPasswordModeOpen"
      [formGroup]="passwordConfirmationForm"
      (ngSubmit)="signUp(passwordConfirmationForm)"
      novalidate
    >
      <div class="field-wrapper">
        <input
          type="password"
          name="oneTimePassword"
          class="password"
          formControlName="oneTimePassword"
          placeholder="One Time Password"
          autocomplete="off"
          [class.empty]="passwordConfirmationControl('oneTimePassword').hasError('required')"
          [class.error]="passwordConfirmationControl('oneTimePassword').touched && passwordConfirmationControl('oneTimePassword').invalid"
        />
      </div>

      <div class="field-wrapper">
        <input
          type="password"
          name="newPassword"
          class="password"
          formControlName="newPassword"
          placeholder="New Password"
          autocomplete="off"
          [class.empty]="passwordConfirmationControl('newPassword').hasError('required')"
          [class.error]="passwordConfirmationControl('newPassword').touched && passwordConfirmationControl('newPassword').invalid"
        />
      </div>

      <div class="field-wrapper">
        <input
          type="password"
          name="confirmPassword"
          class="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          autocomplete="off"
          [class.empty]="passwordConfirmationControl('confirmPassword').hasError('required')"
          [class.error]="passwordConfirmationControl('confirmPassword').touched && passwordConfirmationControl('confirmPassword').invalid"
        />
      </div>
      <div class="field-wrapper">
        <button *ngIf="!loading" [disabled]="loading" class="btn">SET PASSWORD</button>
        <img class="loading" *ngIf="loading" src="../../assets/img/loader.svg" alt="loading">
      </div>
    </form>
  </div>

</div>
